body{
  background-color: #fff;
  font-size: 1.25rem;
  overflow-x: hidden;
}

header{
  height: 800px;
}

h1{
  font-size: 4rem;
  font-weight: bolder;
}

h2{
  font-size: 2rem;
  font-weight: bolder;
}

h3{
  font-size: 1.5rem;
  font-weight: bold;
}

h1, h2, h3 {
  color: #0d6efd;
}

#process {
    height: 500px;
}

footer {
  background-color: #ccc;
}

.moreLink {
  font-size: 1rem;
  font-weight: bold;
  color: #0d6efd;
}

a {
  color: #0d6efd;
  cursor: default;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.shadowImg:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.mainBullet {
  color: #0d6efd;
  font-size: 1.5rem;
}

.bullet {
  color: #000;
  list-style: none;
}

.moreLink:hover {
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}
