body{
  background-color: #fff;
  font-size: 1.25rem;
}

header{
  height: 800px;

}

h1{
  font-size: 4rem;
  font-weight: bold;
}

h2{
  font-size: 2rem;
  font-weight: bold;

}

h3{
  font-size: 1.5rem;
  font-weight: bold;
}

h1, h2, h3 {
  color: #4E39E3
}


/*changing the dt tag color isnt working for some reason*/

dt {
  color: #4E3933;
}

#process {
    height: 500px;
}

footer {
  background-color: #ccc;
}

.moreLink {
  font-size: 1rem;
  font-weight: bold;
  color: #4E39E3
}

a {
  color: #4E39E3
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

img:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#img1{
  box-shadow: none;
}


/* create media query to get rid of navbar on small devices? */
